/* colors */
/* end colors */
body {
  font-family: Roboto, serif;
  color: #455054;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h1,
h2,
h3 {
  color: #455054;
}
.with-sidebar {
  margin-left: 300px;
}
.btn-lawato-blue {
  background-color: #6aa6c0;
  color: #ffffff;
}
.btn-lawato-blue:hover {
  background-color: #7bb7d1;
}
.form-search {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
}
.form-search .row .col-md-3 {
  padding-bottom: 10px;
}
.form-search .form-group {
  position: relative;
}
.form-search .form-group input {
  padding-right: 30px;
}
.form-search .form-group span {
  position: absolute;
  right: -5px;
  top: -5px;
  padding: 10px 12px;
  pointer-events: none;
  font-size: 24px;
  color: #c0c0c0;
  cursor: pointer;
}
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/css/images/chevron-down.svg) 95% no-repeat #ffffff;
  background-size: 16px;
}
.with-background {
  background-image: url(/css/images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.big-36 {
  font-size: 36px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 20px 0;
  color: #2f7a9a;
  background-color: rgba(255, 255, 255, 0.8);
}
.row .no-padding {
  padding: 0px;
}
.row .search {
  padding-bottom: 5%;
}
.input-lg {
  padding: 15px;
}
.category-row > div {
  margin-bottom: 10px;
}
.category-row > div > a {
  background-color: #d8f2fd;
  display: block;
  color: #455054;
  font-weight: 600;
}
.category-row > div > a:hover {
  background-color: #b6d0db;
}
.state-row > div {
  margin-bottom: 10px;
}
.state-row > div > a {
  background-color: #efeded;
  display: block;
  color: #455054;
  font-weight: 600;
}
.state-row > div > a:hover {
  background-color: #cdcbcb;
}
.city-row > div {
  margin-bottom: 10px;
}
.city-row > div > a {
  background-color: #c1b2a0;
  display: block;
  color: #455054;
  font-weight: 600;
}
.city-row > div > a:hover {
  background-color: #9f907e;
}
.county-row > div {
  margin-bottom: 10px;
}
.county-row > div > a {
  background-color: #b5d3be;
  display: block;
  color: #455054;
  font-weight: 600;
}
.county-row > div > a:hover {
  background-color: #93b19c;
}
.filter-menu {
  margin-bottom: 10px;
}
.bordered {
  border: 1px solid rgba(255, 255, 255, 0.8);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  padding-top: 20px;
}
.menu-content select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2f7a9a;
  width: 250px;
  margin: 0 auto;
}
.brand > a > img {
  display: inline-block;
  margin: 0 auto;
}
.panel-body {
  padding: 5px 10px;
}
.company-name {
  color: #2f7a9a;
  margin-top: 0px;
}
.company-card .phone {
  font-size: 150%;
}
p.phones {
  font-weight: 400;
  font-size: 125%;
}
.pagination > li > a,
.pagination > li > span {
  padding: 8px 17px;
}
.pagination .first,
.pagination .last {
  display: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #6aa6c0;
  color: #ffffff;
  border-color: #6aa6c0;
  font-weight: 600;
}
.pagination > li > a,
.pagination > li > span {
  color: #2f7a9a;
  font-weight: 600;
}
.pagination > li > a:hover {
  background-color: #6aa6c0;
  color: #ffffff;
}
.img-logo {
  height: 100px;
  width: 127px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}
.img-logo.height-auto {
  height: auto;
  max-height: 220px;
}
.company-card {
  display: table-cell;
  font-size: 14px;
  margin-right: 10px;
}
.address-field {
  font-size: 16px;
  font-weight: 600;
}
.member {
  font-size: 16px;
  font-weight: 400;
}
div.star-rating {
  margin: 5px;
}
div.star-rating,
div.star-rating a {
  background: url(/css/images/star-silver.svg) no-repeat 0 0px;
}
div.star-rating-on a {
  background-position: 0 0px !important;
  background: url(/css/images/star-blue.svg) no-repeat 0 0px;
}
div.rating-cancel a,
div.star-rating a {
  display: block;
  width: 40px;
  height: 100%;
  background-position: 0 0px;
  border: 0;
}
div.rating-cancel,
div.star-rating {
  width: 40px;
  height: 40px;
}
.rating-cancel {
  display: none !important;
}
.panel-heading {
  border-bottom: 0px;
}
.panel-heading > .rating {
  height: 60px;
}
.panel-body {
  padding: 10px 20px;
  background-color: #f5f5f5;
}
.panel-body textarea {
  width: 100%;
  border: 0px;
}
.spacer {
  height: 60px;
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
/* google map section */
.google-map {
  height: 600px;
}
.btn-map {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 1000;
  background-color: #6aa6c0;
  color: #ffffff;
}
.btn-map:hover {
  color: #ffffff;
  background-color: #6aa6c0;
}
.btn-map:visited,
.btn-map:active {
  color: #ffffff;
}
.direction-panel {
  display: none;
  position: absolute;
  top: 5px;
  right: 20px;
  width: 250px;
  height: 590px;
  background-color: #ffffff;
  z-index: 1;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.direction-panel .form-inline {
  margin: 5px 10px;
  width: 230px;
}
.direction-panel .form-inline .form-group {
  width: 100%;
  padding: 5px 0;
}
.direction-panel .form-inline .form-group .input-group {
  width: 100%;
}
.direction-panel .form-inline .form-group .input-group-addon {
  background-color: #ffffff;
}
.direction-panel .btn-group {
  margin: 0px 10px 5px 10px;
  width: 230px;
}
.direction-panel .btn-group button {
  width: 33%;
}
.direction-panel .btn-group button:hover {
  color: #ffffff;
}
.direction-panel .btn-group button:active,
.direction-panel .btn-group button:visited,
.direction-panel .btn-group button:target {
  font-weight: bold;
  background-color: #6aa6c0 !important;
}
.direction-panel .btn-group button .car,
.direction-panel .btn-group button .bus,
.direction-panel .btn-group button .walk {
  background: url("/css/images/directions-sprite.png") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.direction-panel .btn-group button .car {
  background-position: 0px -40px;
}
.direction-panel .btn-group button .bus {
  background-position: 0px -80px;
}
.direction-panel .btn-group button .walk {
  background-position: 0px -120px;
}
.direction-panel #build-direction.active {
  color: #ffffff;
  background-color: #6aa6c0;
}
.direction-panel .build-direction {
  margin-left: 10px;
  width: 227px;
}
.direction-panel .build-direction:hover {
  color: #ffffff;
}
.direction-panel .build-direction:active,
.direction-panel .build-direction:visited,
.direction-panel .build-direction:target {
  font-weight: bold;
  background-color: #6aa6c0;
}
.direction-panel #driving.active,
.direction-panel #transit.active,
.direction-panel #walking.active {
  background-color: #8cc8e2;
}
.direction-panel .close {
  padding: 10px;
  font-size: 24px;
}
.adp-substep,
.adp-summary,
.adp-text {
  font-size: 12px;
  color: #455054;
}
.adp,
.adp table {
  color: #455054 !important;
}
.adp-placemark {
  background: none !important;
}
.adp-distance {
  width: 50px !important;
}
img.adp-marker {
  width: 14px !important;
  height: 23px !important;
  padding: 4px !important;
}
.warnbox-content {
  background: none !important;
  border: 1px solid red;
}
.warnbox-c1,
.warnbox-c2 {
  background: none !important;
}
#panel-container {
  margin-top: 20px;
}
#panel {
  height: 100%;
  padding: 5px;
}
.main-card,
.register-card,
.forgot-card {
  min-height: 300px;
}
.register-card,
.forgot-card {
  display: none;
}
.form-register button,
.form-forgot button {
  display: block;
  width: 100%;
}
.errorSummary {
  color: #ff0000;
}
.successMessage {
  color: #0e9617;
}
.user-menu li a {
  font-size: 14px;
  display: block;
}
.user-menu li a:hover {
  background-color: #ffffff;
  font-weight: bold;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background-color: #ffffff;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 5px 5px;
  overflow: hidden;
  font-size: 18px;
}
.autocomplete-selected {
  background: #ccc;
}
.autocomplete-suggestions strong {
  font-weight: bold;
  color: #455054;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #455054;
}
/* typeahead styles */
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 46px;
  padding: 8px 12px;
  /*font-size: 16px;*/
  line-height: 30px;
  /*border: 2px solid #ccc;*/
  /*-webkit-border-radius: 8px;*/
  /*-moz-border-radius: 8px;*/
  /*border-radius: 8px;*/
  /*outline: none;*/
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  /*border: 2px solid #0097cf;*/
}
.tt-query {
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*-webkit-border-radius: 8px;*/
  /*-moz-border-radius: 8px;*/
  /*border-radius: 8px;*/
  /*-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
  /*-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
  /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}
.tt-suggestion {
  padding: 3px 20px;
  /*font-size: 16px;*/
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  color: #eee;
  background-color: #0097cf;
}
.tt-suggestion.tt-selectable {
  width: 100%;
}
.tt-suggestion.tt-selectable:hover {
  background-color: #eee;
}
.tt-suggestion p {
  margin: 0;
}
.tt-menu {
  padding-top: 10px;
  width: 100%;
  border: 1px solid #eee;
  background-color: #ffffff;
}
.user-form {
  margin-top: 20px;
}
.user-form .user-logo {
  margin: 0 auto;
}
.user-form .user-pic {
  width: 96px;
  height: 96px;
  border: 1px dashed #000;
  margin-bottom: 10px;
}
.static-bottom {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  opacity: 0.8;
}
div.errorMessage {
  color: #ff0000;
}
span.twitter-typeahead {
  display: block !important;
}
form.form-search input {
  margin-bottom: 10px;
}
.practice-area ul {
  padding: 5px 0;
}
.tooltip-inner {
  background-color: #ccc;
  color: #000;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ccc;
}
.review {
  margin: 10px 0px 50px 0px;
}
.review::after {
  content: " ";
  display: table;
  clear: both;
}
.review .avatar {
  position: relative;
  float: left;
  width: 42px;
  padding-right: 10px;
}
.review .review-header {
  line-height: 32px;
  float: none;
}
.review .review-header::after {
  content: " ";
  display: table;
  clear: both;
}
.review .review-header div {
  float: left;
}
.review .moderation a,
.review .moderation span {
  color: #ccc;
}
.review .moderation + .review-content {
  color: #ccc;
}
.review .time-ago::before {
  content: " • ";
}
.review .rating {
  float: left;
  margin-left: 10px;
}
.review .rating .star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/css/images/star-blue.svg);
  background-size: contain;
  margin-top: 7px;
}
.review .review-content {
  margin-left: 42px;
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
/* styles for reviews in user profile */
.review-card > img {
  float: left;
  margin-right: 10px;
}
.review-card .review-container {
  margin-left: 25px;
}
.add-new-company {
  margin-bottom: 10px;
}
form.create-company > .row {
  margin-bottom: 10px;
}
.edit-company .row {
  padding-bottom: 10px;
}
.edit-company .logo-container {
  position: relative;
  width: 96px;
  height: 96px;
  float: left;
  background-color: #888888;
  overflow: hidden;
}
.edit-company .logo-container .delete-logo {
  position: absolute;
  top: 3px;
  right: 5px;
  color: #aaa;
  font-weight: bold;
  z-index: 2;
}
.edit-company .logo-container label {
  position: absolute;
  top: 40px;
  left: 10%;
  color: #fff;
  z-index: 2;
}
.edit-company .logo-container .glyphicon-remove {
  color: red;
}
.edit-company .image-container {
  width: 96px;
  height: 96px;
  margin-left: 5px;
  float: left;
  position: relative;
  background-color: #d9d9d9;
  overflow: hidden;
}
.edit-company .image-container label {
  position: absolute;
  top: 40px;
  left: 10%;
  font-weight: bold;
  z-index: 2;
}
.edit-company .image-container .delete-image {
  position: absolute;
  top: 3px;
  right: 5px;
  color: #aaa;
  font-weight: bold;
  z-index: 2;
}
.edit-company .image-container .glyphicon-remove {
  color: red;
}
.edit-company .table-wide {
  width: 100%;
}
.edit-company .table-wide td {
  padding-bottom: 10px;
  position: relative;
}
.edit-company .table-wide td span {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 26px;
}
.edit-company .panel-lawato {
  border: 1px solid #6aa6c0;
}
.edit-company .panel-lawato .panel-heading {
  border: 1px solid #6aa6c0;
  background-color: #6aa6c0;
  color: #fff;
}
.edit-company .work-hours select {
  width: 110px;
}
h4 {
  margin: 0px;
  font-size: 16px;
}
.office-hours table.hours {
  max-width: 320px;
}
.office-hours table.hours tr td {
  padding: 1px;
  font-size: 14px;
}
.gallery {
  margin: 10px 0;
}
.gallery img {
  height: 96px;
}
table#personal thead tr th {
  border-bottom: 0px;
}
table#personal tbody {
  border-top: 0px;
}
table#personal tbody tr td {
  border-top: 0px;
}
@media all and (max-width: 767px) {
  .with-sidebar {
    margin-left: 0px;
  }
}
@media all and (max-width: 320px) {
  .company-item > a {
    display: block;
    width: 100%;
    height: 125px;
  }
  .company-card {
    margin-right: 0px;
  }
}
ins.adsbygoogle {
  margin-left: 10px;
}
.rating {
  font-size: 150%;
}
