/* colors */
@font-color-1: #2f7a9a;
@font-color-2: #fff;
@font-color-main: #455054;
@font-color-error: #ff0000;
@font-color-success: #0e9617;

@bg-color-1: rgba(255, 255, 255, 0.8);
@bg-color-2: #6aa6c0;
@bg-color-category: #d8f2fd;
@bg-color-state: #efeded;
@bg-color-city: #c1b2a0;
@bg-color-county: #b5d3be;
@bg-color-white: #ffffff;
@link-color-main: #455054;

@direction-panel-bg: rgba(255, 255, 255, 1);

/* end colors */

body {
  font-family: Roboto, serif;
  color: @font-color-main;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h1, h2, h3 {
  color: @link-color-main;
}

.with-sidebar {
  margin-left: 300px;
}

.btn-lawato-blue {
  background-color: @bg-color-2;
  color: @font-color-2;

  &:hover {
    background-color: @bg-color-2 + #111;
  }
}

.form-search {
  background-color: @bg-color-white;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;

  .row .col-md-3 {
    padding-bottom: 10px;
  }

  .form-group {
    position: relative;

    input {
      padding-right: 30px;
    }

    span {
      position: absolute;
      right: -5px;
      top: -5px;
      padding: 10px 12px;
      pointer-events: none;
      font-size: 24px;
      color: #c0c0c0;
      cursor: pointer;
    }
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/css/images/chevron-down.svg) 95% no-repeat #fff;
  background-size: 16px;
}

.with-background {
  background-image: url(/css/images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.big-36 {
  font-size: 36px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 20px 0;
  color: @font-color-1;
  background-color: @bg-color-1;
}

.row .no-padding {
  padding: 0px;
}

.row .search {
  padding-bottom: 5%;
}

.input-lg {
  padding: 15px;
}

.category-row > div {
  margin-bottom: 10px;
  > a {
    background-color: @bg-color-category;
    display: block;
    color: @link-color-main;
    font-weight: 600;

    &:hover {
      background-color: @bg-color-category - #222;
    }
  }
}

.state-row > div {
  margin-bottom: 10px;
  > a {
    background-color: @bg-color-state;
    display: block;
    color: @link-color-main;
    font-weight: 600;
    &:hover {
      background-color: @bg-color-state - #222;
    }
  }
}

.city-row > div {
  margin-bottom: 10px;
  > a {
    background-color: @bg-color-city;
    display: block;
    color: @link-color-main;
    font-weight: 600;

    &:hover {
      background-color: @bg-color-city - #222;
    }
  }
}

.county-row > div {
  margin-bottom: 10px;
  > a {
    background-color: @bg-color-county;
    display: block;
    color: @link-color-main;
    font-weight: 600;

    &:hover {
      background-color: @bg-color-county - #222;
    }
  }
}

.filter-menu {
  margin-bottom: 10px;
}

.bordered {
  border: 1px solid @bg-color-1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  padding-top: 20px;
}

.menu-content select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: @font-color-1;
  width: 250px;
  margin: 0 auto;
}

.brand > a > img {
  display: inline-block;
  margin: 0 auto;
}

.panel-body {
  padding: 5px 10px;
}

.company-name {
  color: @font-color-1;
  margin-top: 0px;
}

.company-card .phone {
  font-size: 150%;
}

p.phones {
  font-weight: 400;
  font-size: 125%;
}

.pagination > li > a, .pagination > li > span {
  padding: 8px 17px;
}

.pagination .first, .pagination .last {
  display: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: @bg-color-2;
  color: @font-color-2;
  border-color: @bg-color-2;
  font-weight: 600;
}

.pagination > li > a, .pagination > li > span {
  color: @font-color-1;
  font-weight: 600;
}

.pagination > li > a:hover {
  background-color: @bg-color-2;
  color: @font-color-2;
}

.img-logo {
  height: 100px;
  width: 127px;
  margin-right: 10px;
  display: inline-block;
  float: left;

  &.height-auto {
    height: auto;
    max-height: 220px;
  }
}

.company-card {
  display: table-cell;
  font-size: 14px;
  margin-right: 10px;
}

.address-field {
  font-size: 16px;
  font-weight: 600;
}

.member {
  font-size: 16px;
  font-weight: 400;
}

div.star-rating {
  margin: 5px;
}

div.star-rating, div.star-rating a {
  background: url(/css/images/star-silver.svg) no-repeat 0 0px
}

div.star-rating-on a {
  background-position: 0 0px !important;
  background: url(/css/images/star-blue.svg) no-repeat 0 0px
}

div.rating-cancel a, div.star-rating a {
  display: block;
  width: 40px;
  height: 100%;
  background-position: 0 0px;
  border: 0;
}

div.rating-cancel, div.star-rating {
  width: 40px;
  height: 40px;
}

.rating-cancel {
  display: none !important;
}

.panel-heading {
  border-bottom: 0px;
  > .rating {
    height: 60px;
  }
}

.panel-body {
  padding: 10px 20px;
  background-color: #f5f5f5;
  textarea {
    width: 100%;
    border: 0px;
  }
}

.spacer {
  height: 60px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

/* google map section */

.google-map {
  height: 600px;
}

.btn-map {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 1000;
  background-color: @bg-color-2;
  color: @font-color-2;

  &:hover {
    color: @font-color-2;
    background-color: @bg-color-2;
  }

  &:visited, &:active {
    color: @font-color-2;
  }
}

.direction-panel {
  display: none;
  position: absolute;
  top: 5px;
  right: 20px;
  width: 250px;
  height: 590px;
  background-color: @direction-panel-bg;
  z-index: 1;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

  .form-inline {
    margin: 5px 10px;
    width: 230px;

    .form-group {
      width: 100%;
      padding: 5px 0;

      .input-group {
        width: 100%;
      }
      .input-group-addon {
        background-color: @direction-panel-bg;
      }
    }

  }
  .btn-group {
    margin: 0px 10px 5px 10px;
    width: 230px;

    button {
      width: 33%;

      &:hover {
        color: @font-color-2;
      }
      &:active, &:visited, &:target {
        font-weight: bold;
        background-color: @bg-color-2 !important;
      }

      .car, .bus, .walk {
        background: url("/css/images/directions-sprite.png") no-repeat;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      .car {
        background-position: 0px -40px;
      }

      .bus {
        background-position: 0px -80px;
      }

      .walk {
        background-position: 0px -120px;
      }
    }

  }

  #build-direction.active {
    color: @font-color-2;
    background-color: @bg-color-2;
  }

  .build-direction {
    margin-left: 10px;
    width: 227px;

    &:hover {
      color: @font-color-2;
    }
    &:active, &:visited, &:target {
      font-weight: bold;
      background-color: @bg-color-2;
    }
  }

  #driving.active, #transit.active, #walking.active {
    background-color: @bg-color-2 + #222;
  }

  .close {
    padding: 10px;
    font-size: 24px;
  }
}

.adp-substep, .adp-summary, .adp-text {
  font-size: 12px;
  color: @font-color-main;
}

.adp, .adp table {
  color: @font-color-main !important;
}

.adp-placemark {
  background: none !important;
}

.adp-distance {
  width: 50px !important;
}

img.adp-marker {
  width: 14px !important;
  height: 23px !important;
  padding: 4px !important;
}

.warnbox-content {
  background: none !important;
  border: 1px solid red;
}

.warnbox-c1, .warnbox-c2 {
  background: none !important;
}

#panel-container {
  margin-top: 20px;
}

#panel {
  height: 100%;
  padding: 5px;
}

.main-card, .register-card, .forgot-card {
  min-height: 300px;
}

.register-card, .forgot-card {
  display: none;
}

.form-register, .form-forgot {
  button {
    display: block;
    width: 100%;
  }
}

.errorSummary {
  color: @font-color-error;
}

.successMessage {
  color: @font-color-success;
}

.user-menu li {

  a {
    font-size: 14px;
    display: block;
    &:hover {
      background-color: @bg-color-white;
      font-weight: bold;
    }
  }
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background-color: rgba(255, 255, 255, 1);
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 5px 5px;
  overflow: hidden;
  font-size: 18px;
}

.autocomplete-selected {
  background: #ccc;
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: @font-color-main;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid @font-color-main;
}

/* typeahead styles */
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 46px;
  padding: 8px 12px;
  /*font-size: 16px;*/
  line-height: 30px;
  /*border: 2px solid #ccc;*/
  /*-webkit-border-radius: 8px;*/
  /*-moz-border-radius: 8px;*/
  /*border-radius: 8px;*/
  /*outline: none;*/
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  /*border: 2px solid #0097cf;*/
}

.tt-query {
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  /*-webkit-border-radius: 8px;*/
  /*-moz-border-radius: 8px;*/
  /*border-radius: 8px;*/
  /*-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
  /*-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
  /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
}

.tt-suggestion {
  padding: 3px 20px;
  /*font-size: 16px;*/
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #eee;
  background-color: #0097cf;

}

.tt-suggestion.tt-selectable {
  width: 100%;
}

.tt-suggestion.tt-selectable:hover {
  background-color: #eee;
}

.tt-suggestion p {
  margin: 0;
}

.tt-menu {
  padding-top: 10px;
  width: 100%;
  border: 1px solid #eee;
  background-color: @bg-color-white;
}

.user-form {
  margin-top: 20px;

  .user-logo {
    margin: 0 auto;
  }

  .user-pic {
    width: 96px;
    height: 96px;
    border: 1px dashed #000;
    margin-bottom: 10px;
  }
}

.static-bottom {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  opacity: 0.8;
}

div.errorMessage {
  color: @font-color-error;
}
span.twitter-typeahead {
  display: block !important;
}

form.form-search input {
  margin-bottom: 10px;

}

.practice-area {
  ul {
    padding: 5px 0;
  }
}

.tooltip-inner { background-color: #ccc; color: #000; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #ccc; }

@import "less/review";
@import "less/profile";
@import "less/company";

@media all and (max-width: 767px) {
  .with-sidebar {
    margin-left: 0px;
  }
}

@media all and (max-width: 320px) {
  .company-item > a {
    display: block;
    width: 100%;
    height: 125px;
  }

  .company-card {
    margin-right: 0px;
  }
}


ins.adsbygoogle {
  margin-left: 10px;
}

.rating {
  font-size: 150%;
}