<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="jquery.min.js"></script>
    <script src="typeahead.bundle.js"></script>
    <script src="handlebars.min.js"></script>
    <style>
        .typeahead,
        .tt-query,
        .tt-hint {
            width: 396px;
            height: 30px;
            padding: 8px 12px;
            /*font-size: 16px;*/
            line-height: 30px;
            /*border: 2px solid #ccc;*/
            /*-webkit-border-radius: 8px;*/
            /*-moz-border-radius: 8px;*/
            /*border-radius: 8px;*/
            /*outline: none;*/
        }

        .typeahead {
            background-color: #fff;
        }

        .typeahead:focus {
            /*border: 2px solid #0097cf;*/
        }

        .tt-query {
            /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
            /*-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
            /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
        }

        .tt-hint {
            color: #999
        }

        .tt-dropdown-menu {
            width: 422px;
            margin-top: 12px;
            padding: 8px 0;
            background-color: #fff;
            /*border: 1px solid #ccc;*/
            /*border: 1px solid rgba(0, 0, 0, 0.2);*/
            /*-webkit-border-radius: 8px;*/
            /*-moz-border-radius: 8px;*/
            /*border-radius: 8px;*/
            /*-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
            /*-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
            /*box-shadow: 0 5px 10px rgba(0,0,0,.2);*/
        }

        .tt-suggestion {
            padding: 3px 20px;
            /*font-size: 16px;*/
            line-height: 24px;
        }

        .tt-suggestion.tt-cursor {
            color: #eee;
            background-color: #0097cf;

        }

        .tt-suggestion.tt-selectable {
            width: 100%;
        }
        .tt-suggestion.tt-selectable:hover {
            background-color: #eee;
        }

        .tt-suggestion p {
            margin: 0;
        }
        .tt-menu {
            margin-top: 10px;
            width: 396px;
            border: 1px solid #eee;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top: 30%;">
            <div class="col-lg-4 col-lg-offset-4">
                <form action="" class="form">
                    <div class="form-group">
                        <input type="text" class="form-control typeahead" name="search"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var my_Suggestion_class = new Bloodhound({
            limit: 10,
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "http://lawato.loc/ajax/company?query=%QUERY" + '&location=Alabama,Al',
                filter: function(x) {
                    return $.map(x, function(item) {
                        return {vval: item.name, logo: item.logo};
                    });
                },
                wildcard: "%QUERY",
            }
        });

        my_Suggestion_class.initialize();

        var typeahead_elem = $('.typeahead');
        typeahead_elem.typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'vval',
                    displayKey: 'vval',
                    source: my_Suggestion_class.ttAdapter(),
                    templates: {
                        empty: '<div class="noitems">No Items Found</div>',
                        suggestion: Handlebars.compile("<p style='padding:6px'><img width='32' src='http://lawato.loc/images/logo/{{logo}}'><span style='padding-left: 10px;'>{{vval}}</span></p>"),
                        footer: Handlebars.compile("<i>Searched for '{{query}}'</i>")
                    }
                });

        $('input').on([
            'typeahead:initialized',
            'typeahead:initialized:err',
            'typeahead:selected',
            'typeahead:autocompleted',
            'typeahead:cursorchanged',
            'typeahead:opened',
            'typeahead:closed'
        ].join(' '), function(x) {
            console.log(this.value);
        });

    </script>
</body>
</html>