.edit-company {
  .row {
    padding-bottom: 10px;
  }

  .logo-container {
    position: relative;
    width: 96px;
    height: 96px;
    float: left;
    background-color: #888888;
    overflow: hidden;

    .delete-logo {
      position: absolute;
      top: 3px;
      right: 5px;
      color: #aaa;
      font-weight: bold;
      z-index: 2;
    }

    label {
      position: absolute;
      top: 40px;
      left: 10%;
      color: #fff;
      z-index: 2;
    }

    .glyphicon-remove {
      color: red;
    }
  }

  .image-container {
    width: 96px;
    height: 96px;
    margin-left: 5px;
    float: left;
    position: relative;
    background-color: #d9d9d9;
    overflow: hidden;

    label {
      position: absolute;
      top: 40px;
      left: 10%;
      font-weight: bold;
      z-index: 2;
    }

    .delete-image {
      position: absolute;
      top: 3px;
      right: 5px;
      color: #aaa;
      font-weight: bold;
      z-index: 2;
    }

    .glyphicon-remove {
      color: red;
    }
  }

  .table-wide {
    width: 100%;

    td {
      padding-bottom: 10px;
      position: relative;

      span {
        position: absolute;
        right: 15px;
        top: 0px;
        font-size: 26px;
      }
    }
  }

  .panel-lawato {
    border: 1px solid @bg-color-2;

    .panel-heading {
      border: 1px solid @bg-color-2;
      background-color: @bg-color-2;
      color: #fff;
    }
  }

  .work-hours {
    select {
      width: 110px;
    }
  }
}

h4 {
  margin: 0px;
  font-size: 16px;
}

.office-hours {

  table.hours {
    tr td {
      padding: 1px;
      font-size: 14px;
    }
    max-width: 320px;
  }
}

.gallery {
  margin: 10px 0;
  img {
    height: 96px;
  }
}

table#personal {

  thead {
    tr th {
      border-bottom: 0px;
    }
  }
  tbody {
    border-top: 0px;
    tr td {
      border-top: 0px;
    }
  }
}