.edit-company .logo-container {
  position: relative;
  width: 96px;
  height: 96px;
  float: left;
  background-color: #888888;
  overflow: hidden;
}
.edit-company .logo-container .delete-logo {
  position: absolute;
  top: 3px;
  right: 5px;
  color: #aaa;
  font-weight: bold;
  z-index: 2;
}
.edit-company .logo-container label {
  position: absolute;
  top: 40px;
  left: 10%;
  color: #fff;
  z-index: 2;
}
.edit-company .logo-container .glyphicon-remove {
  color: red;
}
.edit-company .image-container {
  width: 96px;
  height: 96px;
  margin-left: 5px;
  float: left;
  position: relative;
  background-color: #d9d9d9;
  overflow: hidden;
}
.edit-company .image-container label {
  position: absolute;
  top: 40px;
  left: 10%;
  font-weight: bold;
  z-index: 2;
}
.edit-company .image-container .delete-image {
  position: absolute;
  top: 3px;
  right: 5px;
  color: #aaa;
  font-weight: bold;
  z-index: 2;
}
.edit-company .image-container .glyphicon-remove {
  color: red;
}
.edit-company table {
  width: 100%;
}
.edit-company table td {
  padding-bottom: 10px;
  position: relative;
}
.edit-company table td span {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 26px;
}
.edit-company .panel-lawato .panel-heading {
  background-color: #337ab7;
  border-color: #337ab7;
}
