.review {
  margin: 10px 0px 50px 0px;
}
.review::after {
  content: " ";
  display: table;
  clear: both;
}
.review .avatar {
  position: relative;
  float: left;
  width: 42px;
  padding-right: 10px;
}
.review .review-header {
  line-height: 32px;
  float: none;
}
.review .review-header::after {
  content: " ";
  display: table;
  clear: both;
}
.review .review-header div {
  float: left;
}
.review .moderation a,
.review .moderation span {
  color: #ccc;
}
.review .moderation + .review-content {
  color: #ccc;
}
.review .time-ago::before {
  content: " • ";
}
.review .rating {
  float: left;
  margin-left: 10px;
}
.review .rating .star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/css/images/star-blue.svg);
  background-size: contain;
  margin-top: 7px;
}
.review .review-content {
  margin-left: 42px;
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
/* styles for reviews in user profile */
.review-card > img {
  float: left;
  margin-right: 10px;
}
.review-card .review-container {
  margin-left: 25px;
}
