.review {
  margin: 10px 0px 50px 0px;

  &::after {
    content: " ";
    display: table;
    clear: both;
  }

  .avatar {
    position: relative;
    float: left;
    width: 42px;
    padding-right: 10px;
  }

  .review-header {
    line-height: 32px;
    float: none;

    &::after {
      content: " ";
      display: table;
      clear: both;
    }

    div {
      float: left;
    }
  }

  .moderation {
    a, span { color: #ccc; }

    + .review-content {
      color: #ccc;
    }
  }

  .time-ago::before {
    content: " • ";
  }
  .rating {
    float: left;
    margin-left: 10px;
  }

  .rating .star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/css/images/star-blue.svg);
    background-size: contain;
    margin-top: 7px;
  }

  .review-content {
    margin-left: 42px;
    border-left: 1px solid #ccc;
    padding-left: 5px;
  }
}

/* styles for reviews in user profile */

.review-card {
  > img {
    float: left;
    margin-right: 10px;
  }

  .review-container {
    margin-left: 25px;
  }
}
